:root {
    --background-general: #07080a;
    --borders: #15151f;
    --background-buttons: #1C2022;
    --secondary-color: #CE262C;
}

body {
    background-color: var(--background-general);
    color: white;
    font-family: monospace;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#loading {
    text-align: center;
    font-family: monospace;
    font-size: 2rem;
}
